In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from pandas import DataFrame

사용자가 별점 준 내용으로 데이터를 받아들일것이다

In [14]:
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")

# 1. Pandas 를 통해 포레스트 검프와 비슷한 영화 찾기

In [15]:
movie_data=pd.merge(ratings,movies, on="movieId") # movieid를 기준으로 데이터 파일 합치기
movie_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

#제목별로 점수가 높은거 평균의 순차적으로 나타내기

In [16]:
movie_data_group=movie_data.groupby("title")["rating"].mean().sort_values(ascending=False)
movie_data_group.head(10)

title
Karlson Returns (1970)                           5.0
Winter in Prostokvashino (1984)                  5.0
My Love (2006)                                   5.0
Sorority House Massacre II (1990)                5.0
Winnie the Pooh and the Day of Concern (1972)    5.0
Sorority House Massacre (1986)                   5.0
Bill Hicks: Revelations (1993)                   5.0
My Man Godfrey (1957)                            5.0
Hellbenders (2012)                               5.0
In the blue sea, in the white foam. (1984)       5.0
Name: rating, dtype: float64

In [17]:
movie_data.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres'], dtype='object')

In [18]:
movie_rating=movie_data.pivot_table(index="userId",columns="title",values="rating")
movie_rating.columns

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9719)

In [19]:
forrest_gump_rating=movie_rating["Forrest Gump (1994)"]
movies_like_forrest=movie_rating.corrwith(forrest_gump_rating)

corr_forrest=pd.DataFrame(movies_like_forrest,columns=["Correlation"])
print(corr_forrest.sort_values("Correlation",ascending=False).head(20))

C:\Users\Affinity\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Affinity\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                    Correlation
title
Lost & Found (1999)                                         1.0
Century of the Self, The (2002)                             1.0
The 5th Wave (2016)                                         1.0
Play Time (a.k.a. Playtime) (1967)                          1.0
Memories (Memorîzu) (1995)                                  1.0
Playing God (1997)                                          1.0
Killers (2010)                                              1.0
Girl Walks Home Alone at Night, A (2014)                    1.0
Tampopo (1985)                                              1.0
Cercle Rouge, Le (Red Circle, The) (1970)                   1.0
The Boss (2016)                                             1.0
Poison Ivy: New Seduction (1997)                            1.0
Tale of Two Sisters, A (Janghwa, Hongryeon) (2003)          1.0
Welcome to the Jungle (2013)                                1.0
Take Shelter (2011)                                         1.0
Chasers (1994)                                              1.0
Tadpole (2002)                                              1.0
Ghost Town (2008)                                           1.0
Keanu (2016)                                                1.0
Micmacs (Micmacs à tire-larigot) (2009)                     1.0

In [20]:
movies_like_forrest

title
'71 (2014)                                                                                       NaN
'Hellboy': The Seeds of Creation (2004)                                                          NaN
'Round Midnight (1986)                                                                           NaN
'Salem's Lot (2004)                                                                              NaN
'Til There Was You (1997)                                                                        NaN
'Tis the Season for Love (2015)                                                                  NaN
'burbs, The (1989)                                                                          0.197712
'night Mother (1986)                                                                             NaN
(500) Days of Summer (2009)                                                                 0.234095
*batteries not included (1987)                                                              0.892710
...All the Marbles (1981)                                                                        NaN
...And Justice for All (1979)                                                               0.928571
00 Schneider - Jagd auf Nihil Baxter (1994)                                                      NaN
1-900 (06) (1994)                                                                                NaN
10 (1979)                                                                                        NaN
10 Cent Pistol (2015)                                                                      -1.000000
10 Cloverfield Lane (2016)                                                                  0.752057
10 Items or Less (2006)                                                                    -1.000000
10 Things I Hate About You (1999)                                                           0.088009
10 Years (2011)                                                                                  NaN
10,000 BC (2008)                                                                           -0.143823
100 Girls (2000)                                                                                 NaN
100 Streets (2016)                                                                               NaN
101 Dalmatians (1996)                                                                       0.381438
101 Dalmatians (One Hundred and One Dalmatians) (1961)                                      0.141023
101 Dalmatians II: Patch's London Adventure (2003)                                               NaN
101 Reykjavik (101 Reykjavík) (2000)                                                             NaN
102 Dalmatians (2000)                                                                      -0.857589
10th & Wolf (2006)                                                                               NaN
10th Kingdom, The (2000)                                                                    1.000000
                                                                                              ...
Zero Dark Thirty (2012)                                                                    -0.111013
Zero Effect (1998)                                                                          0.120753
Zero Theorem, The (2013)                                                                    0.500000
Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933)         NaN
Zeus and Roxanne (1997)                                                                          NaN
Zipper (2015)                                                                                    NaN
Zodiac (2007)                                                                               0.083056
Zombeavers (2014)                                                                                NaN
Zombie (a.k.a. Zombie 2: The Dead Are Among Us) (Zombi 2) (1979)                                 NaN
Zombie Strippers! (2008)                                                                         NaN
Zombieland (2009)                                                                           0.076196
Zone 39 (1997)                                                                                   NaN
Zone, The (La Zona) (2007)                                                                       NaN
Zookeeper (2011)                                                                            0.804400
Zoolander (2001)                                                                           -0.182810
Zoolander 2 (2016)                                                                          0.866025
Zoom (2006)                                                                                      NaN
Zoom (2015)                                                                                      NaN
Zootopia (2016)                                                                             0.474013
Zulu (1964)                                                                                 0.866025
Zulu (2013)                                                                                      NaN
[REC] (2007)                                                                                0.118341
[REC]² (2009)                                                                              -0.052414
[REC]³ 3 Génesis (2012)                                                                          NaN
anohana: The Flower We Saw That Day - The Movie (2013)                                           NaN
eXistenZ (1999)                                                                             0.011189
xXx (2002)                                                                                  0.306817
xXx: State of the Union (2005)                                                              0.383482
¡Three Amigos! (1986)                                                                       0.449692
À nous la liberté (Freedom for Us) (1931)                                                        NaN
Length: 9719, dtype: float64

# 2. CF-based 추천 시스템 구현

In [21]:
user=pd.read_csv("u.user", sep="|",encoding="latin-1",names=["user_id","age","sex","occupation","zip_code"]) # sep을 찾아서 읽기
data=pd.read_csv("u.data",sep="\t",encoding="latin-1",names=["user_id","movie_id","rating","unix_time"])
item=pd.read_csv("u.item",sep="|",encoding="latin-1",header=None) # 전체를 읽어들이는것

In [22]:
user

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
5          6   42   M      executive    98101
6          7   57   M  administrator    91344
7          8   36   M  administrator    05201
8          9   29   M        student    01002
9         10   53   M         lawyer    90703
10        11   39   F          other    30329
11        12   28   F          other    06405
12        13   47   M       educator    29206
13        14   45   M      scientist    55106
14        15   49   F       educator    97301
15        16   21   M  entertainment    10309
16        17   30   M     programmer    06355
17        18   35   F          other    37212
18        19   40   M      librarian    02138
19        20   42   F      homemaker    95660
20        21   26   M         writer    30068
21        22   25   M         writer    40206
22        23   30   F         artist    48197
23        24   21   F         artist    94533
24        25   39   M       engineer    55107
25        26   49   M       engineer    21044
26        27   40   F      librarian    30030
27        28   32   M         writer    55369
28        29   41   M     programmer    94043
29        30    7   M        student    55436
..       ...  ...  ..            ...      ...
913      914   44   F          other    08105
914      915   50   M  entertainment    60614
915      916   27   M       engineer    N2L5N
916      917   22   F        student    20006
917      918   40   M      scientist    70116
918      919   25   M          other    14216
919      920   30   F         artist    90008
920      921   20   F        student    98801
921      922   29   F  administrator    21114
922      923   21   M        student    E2E3R
923      924   29   M          other    11753
924      925   18   F       salesman    49036
925      926   49   M  entertainment    01701
926      927   23   M     programmer    55428
927      928   21   M        student    55408
928      929   44   M      scientist    53711
929      930   28   F      scientist    07310
930      931   60   M       educator    33556
931      932   58   M       educator    06437
932      933   28   M        student    48105
933      934   61   M       engineer    22902
934      935   42   M         doctor    66221
935      936   24   M          other    32789
936      937   48   M       educator    98072
937      938   38   F     technician    55038
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]

In [23]:
item.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
data.head()

   user_id  movie_id  rating  unix_time
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [25]:
# user의 userID 와 movieID count

In [26]:
data.columns

Index(['user_id', 'movie_id', 'rating', 'unix_time'], dtype='object')

In [27]:
n_user_id=data.user_id.nunique()
n_user_id

943

In [28]:
n_movie_id=data.movie_id.nunique()
n_movie_id

1682

#data matrics 만들기, 행, 렬 에 기반하여 값을 넣어주기.

In [29]:
data_matrix=np.zeros((n_user_id,n_movie_id)) ##0으로 초기화

for line in data.itertuples():
    data_matrix[line[1]-1, line[2]-1]=line[3]
    
    ## data.itertuples는 한 줄의 모든값을 불러온다. 이 값들을 data_matrix에 넣어준다.

In [30]:
data

       user_id  movie_id  rating  unix_time
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
5          298       474       4  884182806
6          115       265       2  881171488
7          253       465       5  891628467
8          305       451       3  886324817
9            6        86       3  883603013
10          62       257       2  879372434
11         286      1014       5  879781125
12         200       222       5  876042340
13         210        40       3  891035994
14         224        29       3  888104457
15         303       785       3  879485318
16         122       387       5  879270459
17         194       274       2  879539794
18         291      1042       4  874834944
19         234      1184       2  892079237
20         119       392       4  886176814
21         167       486       4  892738452
22         299       144       4  877881320
23         291       118       2  874833878
24         308         1       4  887736532
25          95       546       2  879196566
26          38        95       5  892430094
27         102       768       2  883748450
28          63       277       4  875747401
29         160       234       5  876861185
...        ...       ...     ...        ...
99970      449       120       1  879959573
99971      661       762       2  876037121
99972      721       874       3  877137447
99973      821       151       4  874792889
99974      764       596       3  876243046
99975      537       443       3  886031752
99976      618       628       2  891308019
99977      487       291       3  883445079
99978      113       975       5  875936424
99979      943       391       2  888640291
99980      864       685       4  888891900
99981      750       323       3  879445877
99982      279        64       1  875308510
99983      646       750       3  888528902
99984      654       370       2  887863914
99985      617       582       4  883789294
99986      913       690       3  880824288
99987      660       229       2  891406212
99988      421       498       4  892241344
99989      495      1091       4  888637503
99990      806       421       4  882388897
99991      676       538       4  892685437
99992      721       262       3  877137285
99993      913       209       2  881367150
99994      378        78       3  880056976
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [31]:
data_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

# 사용자가 얼마나 영화m을 좋아하는지 예측하는 함수

In [32]:
import sklearn

In [33]:
# similarity는 행끼리 비교해서. 
# item-similarity 는 user_similiarity=pairwise_distances(data_matrix.T,metric="cosine") # transpos

In [34]:
from sklearn.metrics.pairwise import pairwise_distances
user_similiarity=pairwise_distances(data_matrix,metric="cosine")# cosine 메트릭을 사용하여 daata_metrics의 거리를 계신
user_similiarity.shape
user_similiarity

# 행,렬 같은 것들은 0 으로 나옴, 같은 자리니까.

array([[0.        , 0.83306902, 0.95254046, ..., 0.85138306, 0.82049212,
        0.60182526],
       [0.83306902, 0.        , 0.88940868, ..., 0.83851522, 0.82773219,
        0.89420212],
       [0.95254046, 0.88940868, 0.        , ..., 0.89875744, 0.86658385,
        0.97344413],
       ...,
       [0.85138306, 0.83851522, 0.89875744, ..., 0.        , 0.8983582 ,
        0.90488042],
       [0.82049212, 0.82773219, 0.86658385, ..., 0.8983582 , 0.        ,
        0.81753534],
       [0.60182526, 0.89420212, 0.97344413, ..., 0.90488042, 0.81753534,
        0.        ]])

In [35]:
# 행렬전체를 받아서 행렬전체를 주는것

In [36]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
        
    return pred

In [37]:
data_matrix.mean(axis=1)## 1차원을 2차원으로 바꿔주라.

array([0.58382878, 0.13674197, 0.08977408, 0.06183115, 0.29904875,
       0.45600476, 0.95005945, 0.13317479, 0.05588585, 0.46016647,
       0.37277051, 0.13317479, 1.17122473, 0.23840666, 0.17776457,
       0.36028537, 0.05053508, 0.6391201 , 0.04221165, 0.08858502,
       0.28418549, 0.25505351, 0.32639715, 0.17479191, 0.18787158,
       0.18727705, 0.04815696, 0.17479191, 0.07372176, 0.09631391,
       0.08382878, 0.08085612, 0.0529132 , 0.04815696, 0.04458977,
       0.0451843 , 0.12366231, 0.26753864, 0.04934602, 0.06004756,
       0.11652794, 0.40546968, 0.48751486, 0.32758621, 0.10285375,
       0.06599287, 0.05410226, 0.14863258, 0.343044  , 0.05053508,
       0.04875149, 0.14209275, 0.06361474, 0.14268728, 0.04102259,
       0.40487515, 0.22057075, 0.35136742, 0.89357907, 0.50535077,
       0.03686088, 0.45541023, 0.17241379, 0.42627824, 0.18727705,
       0.078478  , 0.06718193, 0.06123662, 0.14863258, 0.26991677,
       0.08561237, 0.31093936, 0.14625446, 0.08442331, 0.15398335,
       0.17360285, 0.15457788, 0.04221165, 0.13079667, 0.0648038 ,
       0.11355529, 0.30677765, 0.31510107, 0.15576694, 0.6058264 ,
       0.04815696, 0.47562426, 0.04934602, 0.18252081, 0.75326992,
       0.22651605, 0.74851367, 0.03983353, 0.86979786, 0.5648038 ,
       0.14209275, 0.15576694, 0.05766944, 0.28715815, 0.10760999,
       0.11533888, 0.33590963, 0.06242568, 0.17598098, 0.04637337,
       0.14328181, 0.039239  , 0.07015458, 0.47859691, 0.24078478,
       0.05053508, 0.10107015, 0.11296076, 0.10285375, 0.21521998,
       0.25564804, 0.20035672, 0.19678954, 0.42508918, 0.05529132,
       0.1587396 , 0.14447087, 0.12366231, 0.04994055, 0.37217598,
       0.09453032, 0.05648038, 0.40071344, 0.04637337, 0.83650416,
       0.07372176, 0.04934602, 0.04934602, 0.05410226, 0.11058264,
       0.09036861, 0.12068966, 0.12960761, 0.05707491, 0.04280618,
       0.21819263, 0.07134364, 0.04637337, 0.45005945, 0.62663496,
       0.06242568, 0.04994055, 0.15457788, 0.06183115, 0.07312723,
       0.7294887 , 0.27229489, 0.04042806, 0.12009512, 0.03448276,
       0.08204518, 0.11474435, 0.39120095, 0.21819263, 0.27942925,
       0.08799049, 0.08977408, 0.0451843 , 0.15457788, 0.07134364,
       0.04221165, 0.13852556, 0.13674197, 0.08739596, 0.04934602,
       0.05766944, 0.05112961, 0.10760999, 0.37693222, 0.08442331,
       0.13852556, 0.24732461, 0.59750297, 0.07609988, 0.14744352,
       0.38585018, 0.06420927, 0.10047562, 0.54637337, 0.11533888,
       0.18668252, 0.13555291, 0.2508918 , 0.44233056, 0.11652794,
       0.05826397, 0.07312723, 0.22770511, 0.53745541, 0.18787158,
       0.08382878, 0.23424495, 0.35255648, 0.07015458, 0.51783591,
       0.69560048, 0.0332937 , 0.08739596, 0.0862069 , 0.03745541,
       0.08263971, 0.44173603, 0.07431629, 0.06242568, 0.31866825,
       0.07015458, 0.05826397, 0.31688466, 0.29667063, 0.20868014,
       0.2960761 , 0.13376932, 0.11355529, 0.06183115, 0.04934602,
       0.31391201, 0.70154578, 0.18906064, 0.2508918 , 0.0725327 ,
       0.11296076, 0.11890606, 0.039239  , 0.04875149, 0.30439952,
       0.04577883, 0.21581451, 0.28418549, 0.89120095, 0.22235434,
       0.25624257, 0.11831153, 0.05648038, 0.39833532, 0.05350773,
       0.0469679 , 0.0529132 , 0.17538644, 0.51664685, 0.04280618,
       0.33947681, 0.06064209, 0.11890606, 0.39298454, 0.27467301,
       0.17360285, 0.05529132, 0.2294887 , 0.28834721, 0.1254459 ,
       0.49108205, 0.13674197, 0.05112961, 0.1058264 , 0.05766944,
       0.06599287, 0.30142687, 0.2960761 , 0.30083234, 0.09750297,
       0.04458977, 0.43281807, 0.57372176, 0.57788347, 0.35552913,
       0.5921522 , 0.1313912 , 0.04756243, 0.17122473, 0.17598098,
       1.06718193, 0.11236623, 0.05826397, 0.843044  , 0.54875149,
       0.04934602, 0.04577883, 0.13020214, 0.09928656, 0.07491082,
       0.63555291, 0.15160523, 0.17300832, 0.0469679 , 0.29904875,
       0.64863258, 0.31153389, 0.69916766, 0.30915577, 0.4940547 ,
       0.36504162, 0.39239001, 0.30439952, 0.57669441, 0.04458977,
       0.57669441, 0.03032105, 0.96848989, 0.05231867, 0.45005945,
       0.07193817, 0.25267539, 0.88703924, 0.04161712, 0.04815696,
       0.66349584, 0.58085612, 0.56004756, 0.53567182, 0.20749108,
       0.14982164, 0.04637337, 0.38347206, 0.04756243, 0.34066587,
       0.27764566, 0.12663496, 0.19143876, 0.1706302 , 0.28775268,
       0.36979786, 0.55945303, 0.57728894, 0.1313912 , 0.39298454,
       0.15160523, 0.45184304, 0.05945303, 0.69678954, 0.04637337,
       0.22889417, 0.07966706, 0.1783591 , 0.60463734, 0.10879905,
       0.04756243, 0.41082045, 0.56183115, 0.41438763, 0.50297265,
       0.37752675, 0.42271106, 0.13436385, 0.07788347, 0.12841855,
       0.10879905, 0.09334126, 0.04994055, 0.51843044, 0.06302021,
       0.05112961, 0.18668252, 0.09453032, 0.06302021, 0.24019025,
       0.27170036, 0.04994055, 0.5648038 , 0.04102259, 0.11652794,
       0.0862069 , 0.14328181, 0.08799049, 0.05231867, 0.1646849 ,
       0.12425684, 0.16884661, 0.51724138, 0.539239  , 0.06123662,
       0.0665874 , 0.07669441, 0.76337693, 0.46492271, 0.30796671,
       0.28775268, 0.10939358, 0.18489893, 0.05410226, 0.55053508,
       0.04994055, 0.60760999, 0.12901308, 0.59690844, 0.07074911,
       0.27110583, 0.26694411, 0.88882283, 0.34185493, 0.13198573,
       0.10939358, 0.22473246, 0.37931034, 0.55707491, 0.0469679 ,
       0.28359096, 0.15755054, 0.10939358, 0.08501784, 0.80380499,
       0.71819263, 0.46611177, 0.06004756, 0.4334126 , 0.05053508,
       0.13020214, 0.11950059, 0.10879905, 0.05766944, 0.05945303,
       1.12722949, 0.70451843, 0.03448276, 0.08026159, 0.08917955,
       0.14209275, 0.19976219, 0.13614744, 0.08799049, 0.35850178,
       0.23008323, 0.08382878, 0.12841855, 0.8353151 , 0.1373365 ,
       0.04221165, 0.13674197, 0.08561237, 0.09690844, 0.74732461,
       0.32342449, 0.56004756, 0.07966706, 0.06837099, 0.12663496,
       0.04161712, 0.26575505, 0.04815696, 0.05410226, 0.15933413,
       0.0588585 , 0.29726516, 0.07550535, 0.16706302, 1.24078478,
       0.15933413, 0.41795482, 0.30499405, 0.41795482, 0.39357907,
       0.44589774, 0.66290131, 0.40130797, 0.2372176 , 0.13793103,
       0.04102259, 0.078478  , 0.22651605, 0.12722949, 0.16349584,
       0.20808561, 0.09631391, 0.33947681, 0.11593341, 0.12128419,
       0.06242568, 0.66111772, 0.08145065, 0.79369798, 0.04280618,
       0.16646849, 0.09274673, 0.2294887 , 0.41082045, 0.13317479,
       0.13258026, 0.0529132 , 0.10701546, 0.32996433, 0.0469679 ,
       0.36206897, 0.50059453, 0.30737218, 0.24137931, 0.09453032,
       0.07550535, 0.11533888, 0.30142687, 0.10820452, 0.50059453,
       0.23246136, 0.52734839, 0.29131986, 0.23424495, 0.4470868 ,
       0.16349584, 0.06837099, 0.382283  , 0.54042806, 0.22413793,
       0.52853746, 0.16290131, 0.1979786 , 0.04934602, 0.04934602,
       0.05350773, 0.05410226, 0.05707491, 0.44292509, 0.07134364,
       0.05112961, 0.0725327 , 0.15814507, 0.12009512, 0.0469679 ,
       0.28002378, 0.07728894, 0.25921522, 0.63555291, 0.1058264 ,
       0.13079667, 0.31212842, 0.11712247, 0.0921522 , 0.10404281,
       0.05766944, 0.67122473, 0.52318668, 0.19381688, 0.51010702,
       0.37514863, 0.83472057, 0.17419738, 0.13258026, 0.1391201 ,
       0.28656361, 0.28002378, 0.4137931 , 0.05172414, 0.33769322,
       0.13674197, 0.04994055, 0.33828775, 0.05529132, 0.08739596,
       0.75505351, 0.15457788, 0.24791914, 0.24197384, 0.12425684,
       0.10998811, 0.11831153, 0.04994055, 0.16171225, 0.2039239 ,
       0.64209275, 0.15160523, 0.06718193, 0.06896552, 0.09453032,
       0.30499405, 0.36444709, 0.16230678, 0.1450654 , 0.03507729,
       0.04102259, 0.03864447, 0.11355529, 0.09631391, 0.04875149,
       0.07550535, 0.42508918, 0.03804994, 0.15279429, 0.09928656,
       0.06718193, 0.12068966, 0.07134364, 0.05053508, 0.17776457,
       0.32818074, 0.17300832, 0.50059453, 0.08799049, 0.09988109,
       0.18252081, 0.81629013, 0.33472057, 0.05172414, 0.18252081,
       0.04280618, 0.08858502, 0.05469679, 0.10879905, 0.18965517,
       0.27110583, 0.06539834, 0.1058264 , 0.0529132 , 0.20095125,
       0.55648038, 0.08442331, 0.35612366, 0.03983353, 0.16646849,
       0.09571938, 0.05410226, 0.07193817, 0.0725327 , 0.23662307,
       0.09274673, 0.16825208, 0.42211653, 0.18549346, 0.25029727,
       0.3608799 , 0.45957194, 0.09988109, 0.2960761 , 0.21640904,
       0.04458977, 0.35434007, 0.07550535, 0.29369798, 0.21343639,
       0.03686088, 0.2568371 , 0.11414982, 0.2705113 , 0.06599287,
       0.0529132 , 0.15398335, 0.14090369, 0.26040428, 0.27407848,
       0.0980975 , 0.68489893, 0.45778835, 0.09988109, 0.28715815,
       0.0665874 , 0.13198573, 0.57550535, 0.05410226, 0.58323424,
       0.04102259, 0.04102259, 0.4530321 , 0.32223543, 1.1843044 ,
       0.03626635, 0.05588585, 0.15755054, 0.43043995, 0.34423306,
       0.28180737, 0.0529132 , 0.33174792, 0.36979786, 0.29369798,
       0.53388823, 0.11058264, 0.09631391, 0.20095125, 0.10523187,
       0.26397146, 0.05588585, 0.08085612, 0.08917955, 0.07491082,
       0.16409037, 0.10463734, 0.05707491, 0.13495838, 0.09036861,
       0.04221165, 0.74435196, 0.14387634, 0.1783591 , 0.02437574,
       0.19262782, 0.04340071, 0.06896552, 0.08204518, 0.21521998,
       0.08026159, 0.07788347, 0.28715815, 0.38763377, 0.07431629,
       0.06777646, 0.23186683, 0.21462545, 0.27883472, 0.04577883,
       0.08263971, 0.0451843 , 0.09869203, 0.20214031, 0.25148633,
       0.05707491, 0.49048751, 0.19976219, 0.29310345, 0.18906064,
       0.50713436, 0.3626635 , 0.0529132 , 0.0921522 , 0.33590963,
       0.62187872, 0.20511296, 0.08561237, 0.12366231, 0.07074911,
       0.35315101, 0.09036861, 0.04280618, 0.10939358, 0.05648038,
       0.04280618, 0.58145065, 0.05529132, 0.03567182, 0.07312723,
       0.16706302, 0.04399524, 0.19262782, 0.1373365 , 0.10463734,
       0.04280618, 0.07788347, 0.32342449, 0.07491082, 0.04042806,
       0.21403092, 0.05350773, 0.07669441, 0.06183115, 0.11058264,
       0.1450654 , 0.70630202, 0.23900119, 0.656956  , 0.06064209,
       0.35374554, 0.1391201 , 0.12187872, 0.06837099, 0.07015458,
       0.20689655, 0.33234245, 0.82282996, 0.07728894, 0.07907253,
       0.1117717 , 0.03804994, 0.2901308 , 0.23900119, 0.05588585,
       0.3489893 , 0.09750297, 0.12425684, 0.0529132 , 0.16349584,
       0.15457788, 0.078478  , 0.31391201, 0.27407848, 0.06302021,
       0.21640904, 0.08680143, 0.11414982, 0.0862069 , 0.12663496,
       0.09453032, 0.38466112, 0.06896552, 0.08917955, 0.05945303,
       0.26932224, 0.10642093, 0.49464923, 0.07193817, 0.41438763,
       0.05648038, 0.08739596, 0.11474435, 0.09988109, 0.2960761 ,
       0.76634958, 0.04102259, 0.47265161, 0.05707491, 0.06242568,
       0.06242568, 0.15576694, 0.06064209, 0.7235434 , 0.54340071,
       0.30321046, 0.47205707, 0.05648038, 0.04102259, 0.06837099,
       0.05172414, 0.04161712, 0.04815696, 0.06183115, 0.40725327,
       0.05707491, 0.07193817, 0.04340071, 0.06777646, 0.03745541,
       0.15992866, 0.04637337, 0.44054697, 0.03091558, 0.31153389,
       0.26159334, 0.05410226, 0.19262782, 0.13495838, 0.23602854,
       0.15279429, 0.04399524, 0.48513674, 0.12604043, 0.25148633,
       0.11474435, 0.08323424, 0.22770511, 0.10820452, 0.48454221,
       0.07193817, 0.06004756, 0.33174792, 0.16884661, 0.05766944,
       0.90071344, 0.26337693, 0.382283  , 0.0665874 , 0.1373365 ,
       0.42984542, 0.10107015, 0.0725327 , 0.41438763, 0.04577883,
       0.0529132 , 0.04280618, 0.04280618, 0.08917955, 0.13674197,
       0.10225922, 0.42806183, 0.19857313, 0.66825208, 0.08977408,
       0.03210464, 0.24078478, 0.36504162, 0.08026159, 0.55231867,
       0.23900119, 0.14268728, 0.03448276, 0.07728894, 0.22175981,
       0.05231867, 0.1843044 , 0.26040428, 0.06361474, 0.74970273,
       0.51129608, 0.32996433, 0.6254459 , 0.09512485, 0.20095125,
       0.47978597, 0.39892985, 0.05112961, 0.66587396, 0.27288942,
       0.11533888, 0.53745541, 0.12009512, 0.52972652, 0.04458977,
       0.64149822, 0.43579073, 0.06242568, 0.28299643, 0.06837099,
       0.28418549, 0.10047562, 0.31153389, 0.10463734, 0.07788347,
       0.09274673, 0.39952438, 0.15636147, 0.06718193, 0.11296076,
       0.22175981, 0.12009512, 0.2764566 , 0.04221165, 0.04815696,
       0.63436385, 0.07372176, 0.20511296, 0.44768133, 0.04994055,
       0.21403092, 0.25445898, 0.18252081, 0.18311534, 0.05945303,
       0.039239  , 0.26337693, 0.08917955, 0.10760999, 0.11117717,
       0.13495838, 0.56837099, 0.28953627, 0.38287753, 0.09096314,
       0.31629013, 0.08026159, 0.2098692 , 0.12425684, 0.21997622,
       0.0529132 , 0.20035672, 0.34066587])

In [38]:
data_matrix.mean(axis=1)[:,np.newaxis]## 1차원을 2차원으로 바꿔주라.

array([[0.58382878],
       [0.13674197],
       [0.08977408],
       [0.06183115],
       [0.29904875],
       [0.45600476],
       [0.95005945],
       [0.13317479],
       [0.05588585],
       [0.46016647],
       [0.37277051],
       [0.13317479],
       [1.17122473],
       [0.23840666],
       [0.17776457],
       [0.36028537],
       [0.05053508],
       [0.6391201 ],
       [0.04221165],
       [0.08858502],
       [0.28418549],
       [0.25505351],
       [0.32639715],
       [0.17479191],
       [0.18787158],
       [0.18727705],
       [0.04815696],
       [0.17479191],
       [0.07372176],
       [0.09631391],
       [0.08382878],
       [0.08085612],
       [0.0529132 ],
       [0.04815696],
       [0.04458977],
       [0.0451843 ],
       [0.12366231],
       [0.26753864],
       [0.04934602],
       [0.06004756],
       [0.11652794],
       [0.40546968],
       [0.48751486],
       [0.32758621],
       [0.10285375],
       [0.06599287],
       [0.05410226],
       [0.14863258],
       [0.343044  ],
       [0.05053508],
       [0.04875149],
       [0.14209275],
       [0.06361474],
       [0.14268728],
       [0.04102259],
       [0.40487515],
       [0.22057075],
       [0.35136742],
       [0.89357907],
       [0.50535077],
       [0.03686088],
       [0.45541023],
       [0.17241379],
       [0.42627824],
       [0.18727705],
       [0.078478  ],
       [0.06718193],
       [0.06123662],
       [0.14863258],
       [0.26991677],
       [0.08561237],
       [0.31093936],
       [0.14625446],
       [0.08442331],
       [0.15398335],
       [0.17360285],
       [0.15457788],
       [0.04221165],
       [0.13079667],
       [0.0648038 ],
       [0.11355529],
       [0.30677765],
       [0.31510107],
       [0.15576694],
       [0.6058264 ],
       [0.04815696],
       [0.47562426],
       [0.04934602],
       [0.18252081],
       [0.75326992],
       [0.22651605],
       [0.74851367],
       [0.03983353],
       [0.86979786],
       [0.5648038 ],
       [0.14209275],
       [0.15576694],
       [0.05766944],
       [0.28715815],
       [0.10760999],
       [0.11533888],
       [0.33590963],
       [0.06242568],
       [0.17598098],
       [0.04637337],
       [0.14328181],
       [0.039239  ],
       [0.07015458],
       [0.47859691],
       [0.24078478],
       [0.05053508],
       [0.10107015],
       [0.11296076],
       [0.10285375],
       [0.21521998],
       [0.25564804],
       [0.20035672],
       [0.19678954],
       [0.42508918],
       [0.05529132],
       [0.1587396 ],
       [0.14447087],
       [0.12366231],
       [0.04994055],
       [0.37217598],
       [0.09453032],
       [0.05648038],
       [0.40071344],
       [0.04637337],
       [0.83650416],
       [0.07372176],
       [0.04934602],
       [0.04934602],
       [0.05410226],
       [0.11058264],
       [0.09036861],
       [0.12068966],
       [0.12960761],
       [0.05707491],
       [0.04280618],
       [0.21819263],
       [0.07134364],
       [0.04637337],
       [0.45005945],
       [0.62663496],
       [0.06242568],
       [0.04994055],
       [0.15457788],
       [0.06183115],
       [0.07312723],
       [0.7294887 ],
       [0.27229489],
       [0.04042806],
       [0.12009512],
       [0.03448276],
       [0.08204518],
       [0.11474435],
       [0.39120095],
       [0.21819263],
       [0.27942925],
       [0.08799049],
       [0.08977408],
       [0.0451843 ],
       [0.15457788],
       [0.07134364],
       [0.04221165],
       [0.13852556],
       [0.13674197],
       [0.08739596],
       [0.04934602],
       [0.05766944],
       [0.05112961],
       [0.10760999],
       [0.37693222],
       [0.08442331],
       [0.13852556],
       [0.24732461],
       [0.59750297],
       [0.07609988],
       [0.14744352],
       [0.38585018],
       [0.06420927],
       [0.10047562],
       [0.54637337],
       [0.11533888],
       [0.18668252],
       [0.13555291],
       [0.2508918 ],
       [0.44233056],
       [0.11652794],
       [0.05826397],
       [0.07312723],
       [0.22770511],
       [0.53745541],
       [0.18787158],
       [0.08382878],
       [0.23424495],
       [0.35255648],
       [0.07015458],
       [0.51783591],
       [0.69560048],
       [0.0332937 ],
       [0.08739596],
       [0.0862069 ],
       [0.03745541],
       [0.08263971],
       [0.44173603],
       [0.07431629],
       [0.06242568],
       [0.31866825],
       [0.07015458],
       [0.05826397],
       [0.31688466],
       [0.29667063],
       [0.20868014],
       [0.2960761 ],
       [0.13376932],
       [0.11355529],
       [0.06183115],
       [0.04934602],
       [0.31391201],
       [0.70154578],
       [0.18906064],
       [0.2508918 ],
       [0.0725327 ],
       [0.11296076],
       [0.11890606],
       [0.039239  ],
       [0.04875149],
       [0.30439952],
       [0.04577883],
       [0.21581451],
       [0.28418549],
       [0.89120095],
       [0.22235434],
       [0.25624257],
       [0.11831153],
       [0.05648038],
       [0.39833532],
       [0.05350773],
       [0.0469679 ],
       [0.0529132 ],
       [0.17538644],
       [0.51664685],
       [0.04280618],
       [0.33947681],
       [0.06064209],
       [0.11890606],
       [0.39298454],
       [0.27467301],
       [0.17360285],
       [0.05529132],
       [0.2294887 ],
       [0.28834721],
       [0.1254459 ],
       [0.49108205],
       [0.13674197],
       [0.05112961],
       [0.1058264 ],
       [0.05766944],
       [0.06599287],
       [0.30142687],
       [0.2960761 ],
       [0.30083234],
       [0.09750297],
       [0.04458977],
       [0.43281807],
       [0.57372176],
       [0.57788347],
       [0.35552913],
       [0.5921522 ],
       [0.1313912 ],
       [0.04756243],
       [0.17122473],
       [0.17598098],
       [1.06718193],
       [0.11236623],
       [0.05826397],
       [0.843044  ],
       [0.54875149],
       [0.04934602],
       [0.04577883],
       [0.13020214],
       [0.09928656],
       [0.07491082],
       [0.63555291],
       [0.15160523],
       [0.17300832],
       [0.0469679 ],
       [0.29904875],
       [0.64863258],
       [0.31153389],
       [0.69916766],
       [0.30915577],
       [0.4940547 ],
       [0.36504162],
       [0.39239001],
       [0.30439952],
       [0.57669441],
       [0.04458977],
       [0.57669441],
       [0.03032105],
       [0.96848989],
       [0.05231867],
       [0.45005945],
       [0.07193817],
       [0.25267539],
       [0.88703924],
       [0.04161712],
       [0.04815696],
       [0.66349584],
       [0.58085612],
       [0.56004756],
       [0.53567182],
       [0.20749108],
       [0.14982164],
       [0.04637337],
       [0.38347206],
       [0.04756243],
       [0.34066587],
       [0.27764566],
       [0.12663496],
       [0.19143876],
       [0.1706302 ],
       [0.28775268],
       [0.36979786],
       [0.55945303],
       [0.57728894],
       [0.1313912 ],
       [0.39298454],
       [0.15160523],
       [0.45184304],
       [0.05945303],
       [0.69678954],
       [0.04637337],
       [0.22889417],
       [0.07966706],
       [0.1783591 ],
       [0.60463734],
       [0.10879905],
       [0.04756243],
       [0.41082045],
       [0.56183115],
       [0.41438763],
       [0.50297265],
       [0.37752675],
       [0.42271106],
       [0.13436385],
       [0.07788347],
       [0.12841855],
       [0.10879905],
       [0.09334126],
       [0.04994055],
       [0.51843044],
       [0.06302021],
       [0.05112961],
       [0.18668252],
       [0.09453032],
       [0.06302021],
       [0.24019025],
       [0.27170036],
       [0.04994055],
       [0.5648038 ],
       [0.04102259],
       [0.11652794],
       [0.0862069 ],
       [0.14328181],
       [0.08799049],
       [0.05231867],
       [0.1646849 ],
       [0.12425684],
       [0.16884661],
       [0.51724138],
       [0.539239  ],
       [0.06123662],
       [0.0665874 ],
       [0.07669441],
       [0.76337693],
       [0.46492271],
       [0.30796671],
       [0.28775268],
       [0.10939358],
       [0.18489893],
       [0.05410226],
       [0.55053508],
       [0.04994055],
       [0.60760999],
       [0.12901308],
       [0.59690844],
       [0.07074911],
       [0.27110583],
       [0.26694411],
       [0.88882283],
       [0.34185493],
       [0.13198573],
       [0.10939358],
       [0.22473246],
       [0.37931034],
       [0.55707491],
       [0.0469679 ],
       [0.28359096],
       [0.15755054],
       [0.10939358],
       [0.08501784],
       [0.80380499],
       [0.71819263],
       [0.46611177],
       [0.06004756],
       [0.4334126 ],
       [0.05053508],
       [0.13020214],
       [0.11950059],
       [0.10879905],
       [0.05766944],
       [0.05945303],
       [1.12722949],
       [0.70451843],
       [0.03448276],
       [0.08026159],
       [0.08917955],
       [0.14209275],
       [0.19976219],
       [0.13614744],
       [0.08799049],
       [0.35850178],
       [0.23008323],
       [0.08382878],
       [0.12841855],
       [0.8353151 ],
       [0.1373365 ],
       [0.04221165],
       [0.13674197],
       [0.08561237],
       [0.09690844],
       [0.74732461],
       [0.32342449],
       [0.56004756],
       [0.07966706],
       [0.06837099],
       [0.12663496],
       [0.04161712],
       [0.26575505],
       [0.04815696],
       [0.05410226],
       [0.15933413],
       [0.0588585 ],
       [0.29726516],
       [0.07550535],
       [0.16706302],
       [1.24078478],
       [0.15933413],
       [0.41795482],
       [0.30499405],
       [0.41795482],
       [0.39357907],
       [0.44589774],
       [0.66290131],
       [0.40130797],
       [0.2372176 ],
       [0.13793103],
       [0.04102259],
       [0.078478  ],
       [0.22651605],
       [0.12722949],
       [0.16349584],
       [0.20808561],
       [0.09631391],
       [0.33947681],
       [0.11593341],
       [0.12128419],
       [0.06242568],
       [0.66111772],
       [0.08145065],
       [0.79369798],
       [0.04280618],
       [0.16646849],
       [0.09274673],
       [0.2294887 ],
       [0.41082045],
       [0.13317479],
       [0.13258026],
       [0.0529132 ],
       [0.10701546],
       [0.32996433],
       [0.0469679 ],
       [0.36206897],
       [0.50059453],
       [0.30737218],
       [0.24137931],
       [0.09453032],
       [0.07550535],
       [0.11533888],
       [0.30142687],
       [0.10820452],
       [0.50059453],
       [0.23246136],
       [0.52734839],
       [0.29131986],
       [0.23424495],
       [0.4470868 ],
       [0.16349584],
       [0.06837099],
       [0.382283  ],
       [0.54042806],
       [0.22413793],
       [0.52853746],
       [0.16290131],
       [0.1979786 ],
       [0.04934602],
       [0.04934602],
       [0.05350773],
       [0.05410226],
       [0.05707491],
       [0.44292509],
       [0.07134364],
       [0.05112961],
       [0.0725327 ],
       [0.15814507],
       [0.12009512],
       [0.0469679 ],
       [0.28002378],
       [0.07728894],
       [0.25921522],
       [0.63555291],
       [0.1058264 ],
       [0.13079667],
       [0.31212842],
       [0.11712247],
       [0.0921522 ],
       [0.10404281],
       [0.05766944],
       [0.67122473],
       [0.52318668],
       [0.19381688],
       [0.51010702],
       [0.37514863],
       [0.83472057],
       [0.17419738],
       [0.13258026],
       [0.1391201 ],
       [0.28656361],
       [0.28002378],
       [0.4137931 ],
       [0.05172414],
       [0.33769322],
       [0.13674197],
       [0.04994055],
       [0.33828775],
       [0.05529132],
       [0.08739596],
       [0.75505351],
       [0.15457788],
       [0.24791914],
       [0.24197384],
       [0.12425684],
       [0.10998811],
       [0.11831153],
       [0.04994055],
       [0.16171225],
       [0.2039239 ],
       [0.64209275],
       [0.15160523],
       [0.06718193],
       [0.06896552],
       [0.09453032],
       [0.30499405],
       [0.36444709],
       [0.16230678],
       [0.1450654 ],
       [0.03507729],
       [0.04102259],
       [0.03864447],
       [0.11355529],
       [0.09631391],
       [0.04875149],
       [0.07550535],
       [0.42508918],
       [0.03804994],
       [0.15279429],
       [0.09928656],
       [0.06718193],
       [0.12068966],
       [0.07134364],
       [0.05053508],
       [0.17776457],
       [0.32818074],
       [0.17300832],
       [0.50059453],
       [0.08799049],
       [0.09988109],
       [0.18252081],
       [0.81629013],
       [0.33472057],
       [0.05172414],
       [0.18252081],
       [0.04280618],
       [0.08858502],
       [0.05469679],
       [0.10879905],
       [0.18965517],
       [0.27110583],
       [0.06539834],
       [0.1058264 ],
       [0.0529132 ],
       [0.20095125],
       [0.55648038],
       [0.08442331],
       [0.35612366],
       [0.03983353],
       [0.16646849],
       [0.09571938],
       [0.05410226],
       [0.07193817],
       [0.0725327 ],
       [0.23662307],
       [0.09274673],
       [0.16825208],
       [0.42211653],
       [0.18549346],
       [0.25029727],
       [0.3608799 ],
       [0.45957194],
       [0.09988109],
       [0.2960761 ],
       [0.21640904],
       [0.04458977],
       [0.35434007],
       [0.07550535],
       [0.29369798],
       [0.21343639],
       [0.03686088],
       [0.2568371 ],
       [0.11414982],
       [0.2705113 ],
       [0.06599287],
       [0.0529132 ],
       [0.15398335],
       [0.14090369],
       [0.26040428],
       [0.27407848],
       [0.0980975 ],
       [0.68489893],
       [0.45778835],
       [0.09988109],
       [0.28715815],
       [0.0665874 ],
       [0.13198573],
       [0.57550535],
       [0.05410226],
       [0.58323424],
       [0.04102259],
       [0.04102259],
       [0.4530321 ],
       [0.32223543],
       [1.1843044 ],
       [0.03626635],
       [0.05588585],
       [0.15755054],
       [0.43043995],
       [0.34423306],
       [0.28180737],
       [0.0529132 ],
       [0.33174792],
       [0.36979786],
       [0.29369798],
       [0.53388823],
       [0.11058264],
       [0.09631391],
       [0.20095125],
       [0.10523187],
       [0.26397146],
       [0.05588585],
       [0.08085612],
       [0.08917955],
       [0.07491082],
       [0.16409037],
       [0.10463734],
       [0.05707491],
       [0.13495838],
       [0.09036861],
       [0.04221165],
       [0.74435196],
       [0.14387634],
       [0.1783591 ],
       [0.02437574],
       [0.19262782],
       [0.04340071],
       [0.06896552],
       [0.08204518],
       [0.21521998],
       [0.08026159],
       [0.07788347],
       [0.28715815],
       [0.38763377],
       [0.07431629],
       [0.06777646],
       [0.23186683],
       [0.21462545],
       [0.27883472],
       [0.04577883],
       [0.08263971],
       [0.0451843 ],
       [0.09869203],
       [0.20214031],
       [0.25148633],
       [0.05707491],
       [0.49048751],
       [0.19976219],
       [0.29310345],
       [0.18906064],
       [0.50713436],
       [0.3626635 ],
       [0.0529132 ],
       [0.0921522 ],
       [0.33590963],
       [0.62187872],
       [0.20511296],
       [0.08561237],
       [0.12366231],
       [0.07074911],
       [0.35315101],
       [0.09036861],
       [0.04280618],
       [0.10939358],
       [0.05648038],
       [0.04280618],
       [0.58145065],
       [0.05529132],
       [0.03567182],
       [0.07312723],
       [0.16706302],
       [0.04399524],
       [0.19262782],
       [0.1373365 ],
       [0.10463734],
       [0.04280618],
       [0.07788347],
       [0.32342449],
       [0.07491082],
       [0.04042806],
       [0.21403092],
       [0.05350773],
       [0.07669441],
       [0.06183115],
       [0.11058264],
       [0.1450654 ],
       [0.70630202],
       [0.23900119],
       [0.656956  ],
       [0.06064209],
       [0.35374554],
       [0.1391201 ],
       [0.12187872],
       [0.06837099],
       [0.07015458],
       [0.20689655],
       [0.33234245],
       [0.82282996],
       [0.07728894],
       [0.07907253],
       [0.1117717 ],
       [0.03804994],
       [0.2901308 ],
       [0.23900119],
       [0.05588585],
       [0.3489893 ],
       [0.09750297],
       [0.12425684],
       [0.0529132 ],
       [0.16349584],
       [0.15457788],
       [0.078478  ],
       [0.31391201],
       [0.27407848],
       [0.06302021],
       [0.21640904],
       [0.08680143],
       [0.11414982],
       [0.0862069 ],
       [0.12663496],
       [0.09453032],
       [0.38466112],
       [0.06896552],
       [0.08917955],
       [0.05945303],
       [0.26932224],
       [0.10642093],
       [0.49464923],
       [0.07193817],
       [0.41438763],
       [0.05648038],
       [0.08739596],
       [0.11474435],
       [0.09988109],
       [0.2960761 ],
       [0.76634958],
       [0.04102259],
       [0.47265161],
       [0.05707491],
       [0.06242568],
       [0.06242568],
       [0.15576694],
       [0.06064209],
       [0.7235434 ],
       [0.54340071],
       [0.30321046],
       [0.47205707],
       [0.05648038],
       [0.04102259],
       [0.06837099],
       [0.05172414],
       [0.04161712],
       [0.04815696],
       [0.06183115],
       [0.40725327],
       [0.05707491],
       [0.07193817],
       [0.04340071],
       [0.06777646],
       [0.03745541],
       [0.15992866],
       [0.04637337],
       [0.44054697],
       [0.03091558],
       [0.31153389],
       [0.26159334],
       [0.05410226],
       [0.19262782],
       [0.13495838],
       [0.23602854],
       [0.15279429],
       [0.04399524],
       [0.48513674],
       [0.12604043],
       [0.25148633],
       [0.11474435],
       [0.08323424],
       [0.22770511],
       [0.10820452],
       [0.48454221],
       [0.07193817],
       [0.06004756],
       [0.33174792],
       [0.16884661],
       [0.05766944],
       [0.90071344],
       [0.26337693],
       [0.382283  ],
       [0.0665874 ],
       [0.1373365 ],
       [0.42984542],
       [0.10107015],
       [0.0725327 ],
       [0.41438763],
       [0.04577883],
       [0.0529132 ],
       [0.04280618],
       [0.04280618],
       [0.08917955],
       [0.13674197],
       [0.10225922],
       [0.42806183],
       [0.19857313],
       [0.66825208],
       [0.08977408],
       [0.03210464],
       [0.24078478],
       [0.36504162],
       [0.08026159],
       [0.55231867],
       [0.23900119],
       [0.14268728],
       [0.03448276],
       [0.07728894],
       [0.22175981],
       [0.05231867],
       [0.1843044 ],
       [0.26040428],
       [0.06361474],
       [0.74970273],
       [0.51129608],
       [0.32996433],
       [0.6254459 ],
       [0.09512485],
       [0.20095125],
       [0.47978597],
       [0.39892985],
       [0.05112961],
       [0.66587396],
       [0.27288942],
       [0.11533888],
       [0.53745541],
       [0.12009512],
       [0.52972652],
       [0.04458977],
       [0.64149822],
       [0.43579073],
       [0.06242568],
       [0.28299643],
       [0.06837099],
       [0.28418549],
       [0.10047562],
       [0.31153389],
       [0.10463734],
       [0.07788347],
       [0.09274673],
       [0.39952438],
       [0.15636147],
       [0.06718193],
       [0.11296076],
       [0.22175981],
       [0.12009512],
       [0.2764566 ],
       [0.04221165],
       [0.04815696],
       [0.63436385],
       [0.07372176],
       [0.20511296],
       [0.44768133],
       [0.04994055],
       [0.21403092],
       [0.25445898],
       [0.18252081],
       [0.18311534],
       [0.05945303],
       [0.039239  ],
       [0.26337693],
       [0.08917955],
       [0.10760999],
       [0.11117717],
       [0.13495838],
       [0.56837099],
       [0.28953627],
       [0.38287753],
       [0.09096314],
       [0.31629013],
       [0.08026159],
       [0.2098692 ],
       [0.12425684],
       [0.21997622],
       [0.0529132 ],
       [0.20035672],
       [0.34066587]])

# 성능평가 MAE

In [39]:
user_prediction=predict(data_matrix,user_similiarity,type="user")
#통째로 다 계산 해주는 프레딕트 함수

In [40]:
from sklearn.metrics import mean_absolute_error
print("MAE:  ", mean_absolute_error(data_matrix,user_prediction))

MAE:   0.41217773816161574

In [41]:
# 실제와 예상값 비교

In [42]:
print("Actual rating:", data_matrix[4,2])
print("Predict rating:", user_prediction[4,2])

Actual rating: 0.0
Predict rating: 0.35442233234815124

# 3.Content Based Recommender

#imdb의 top rated 영화들 사용
#영화추천문제를 CB로 구성하기

#배우, 감독이름을 가공, 줄거리 키워드 추출
#영화별로 키워드별로 카운트 행렬 생성
#코사인 유사도를 이용 
#특정영화와 유사한 영화 추천

#개인의 신원 정보는 사용하지 않으니까, 추천? 이랄 수는 없지만 영화들의 벡터를 비교해서 가장 유사한것 찾아보는것

# 사실 고도의 Pandas 의 활용.

In [82]:
!pip install rake_nltk

Requirement already satisfied: rake_nltk in c:\users\affinity\anaconda3\lib\site-packages (1.0.4)
Requirement already satisfied: nltk in c:\users\affinity\anaconda3\lib\site-packages (from rake_nltk) (3.4)
Requirement already satisfied: six in c:\users\affinity\anaconda3\lib\site-packages (from nltk->rake_nltk) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\affinity\anaconda3\lib\site-packages (from nltk->rake_nltk) (3.4.0.3)

In [93]:
import numpy as np
import pandas as pd

from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [131]:
data=pd.read_csv("IMDBTOP250.csv")

In [128]:
data.head(5)
data.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings.Source', 'Ratings.Value', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'tomatoMeter', 'tomatoImage',
       'tomatoRating', 'tomatoReviews', 'tomatoFresh', 'tomatoRotten',
       'tomatoConsensus', 'tomatoUserMeter', 'tomatoUserRating',
       'tomatoUserReviews', 'tomatoURL', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Response'],
      dtype='object')

# Check
#각각의 열에 있는 값들을 Actors는 , 를 기준으로 나누어서 3명까지 불러오고, 
#director는 스페이스를 기준으로 나눠서 불러온다.

In [133]:
data["Actors"]=data["Actors"].map(lambda x:x.lower())
data["Director"]=data["Director"].map( lambda x:x.lower())

In [135]:
data["Actors"]=data["Actors"].map(lambda x:x.split(",")[:3])
data["Director"]=data["Director"].map(lambda x: x.split(" "))

In [134]:
data.iterrows

<bound method DataFrame.iterrows of      Unnamed: 0                                              Title  Year  \
0             1                           The Shawshank Redemption  1994
1             2                                      The Godfather  1972
2             3                             The Godfather: Part II  1974
3             4                                    The Dark Knight  2008
4             5                                       12 Angry Men  1957
5             6                                   Schindler's List  1993
6             7      The Lord of the Rings: The Return of the King  2003
7             8                                       Pulp Fiction  1994
8             9                                         Fight Club  1999
9            10  The Lord of the Rings: The Fellowship of the Ring  2001
10           11                                       Forrest Gump  1994
11           12     Star Wars: Episode V - The Empire Strikes Back  1980
12           13                                          Inception  2010
13           14              The Lord of the Rings: The Two Towers  2002
14           15                    One Flew Over the Cuckoo's Nest  1975
15           16                                         Goodfellas  1990
16           17                                         The Matrix  1999
17           18                 Star Wars: Episode IV - A New Hope  1977
18           19                                              Se7en  1995
19           20                              It's a Wonderful Life  1946
20           21                           The Silence of the Lambs  1991
21           22                                 The Usual Suspects  1995
22           23                                   The Professional  1994
23           24                                Saving Private Ryan  1998
24           25                                        City Lights  1931
25           26                                       Interstellar  2014
26           27                                 American History X  1998
27           28                                       Modern Times  1936
28           29                                         Casablanca  1942
29           30                                     The Green Mile  1999
..          ...                                                ...   ...
220         221                                          Notorious  1946
221         222                                             Harvey  1950
222         223                                        The Martian  2015
223         224                                       The Exorcist  1973
224         225                                          Rio Bravo  1959
225         226                             The Philadelphia Story  1940
226         227                                               Rope  1948
227         228                                      The Big Sleep  1946
228         229                               Pink Floyd: The Wall  1982
229         230                                  The King's Speech  2010
230         231                                  A Christmas Story  1983
231         232                                       The Graduate  1967
232         233                                                JFK  1991
233         234                                        Sling Blade  1996
234         235                                      Blood Diamond  2006
235         236                                           Magnolia  1999
236         237                                           Rain Man  1988
237         238                                       The Revenant  2015
238         239                     The Nightmare Before Christmas  1993
239         240                           The Manchurian Candidate  1962
240         241                                           Deadpool  2016
241         242                                     The Wild Bunch  1969
242         243                                            Aladdin  1992
243         244                                           Big Fish  2003
244         245                                             Patton  1970
245         246                                   The Lost Weekend  1945
246         247                                      Short Term 12  2013
247         248                                    His Girl Friday  1940
248         249                                 The Straight Story  1999
249         250                                Slumdog Millionaire  2008

         Rated   Released  Runtime                         Genre  \
0            R  14-Oct-94  142 min                  Crime, Drama
1            R  24-Mar-72  175 min                  Crime, Drama
2            R  20-Dec-74  202 min                  Crime, Drama
3        PG-13  18-Jul-08  152 min          Action, Crime, Drama
4     APPROVED  01-Apr-57   96 min                  Crime, Drama
5            R  04-Feb-94  195 min     Biography, Drama, History
6        PG-13  17-Dec-03  201 min     Adventure, Drama, Fantasy
7            R  14-Oct-94  154 min                  Crime, Drama
8            R  15-Oct-99  139 min                         Drama
9        PG-13  19-Dec-01  178 min     Adventure, Drama, Fantasy
10       PG-13  06-Jul-94  142 min        Comedy, Drama, Romance
11          PG  20-Jun-80  124 min    Action, Adventure, Fantasy
12       PG-13  16-Jul-10  148 min     Action, Adventure, Sci-Fi
13       PG-13  18-Dec-02  179 min     Adventure, Drama, Fantasy
14           R  19-Nov-75  133 min                         Drama
15           R  21-Sep-90  146 min                  Crime, Drama
16           R  31-Mar-99  136 min                Action, Sci-Fi
17          PG  25-May-77  121 min    Action, Adventure, Fantasy
18           R  22-Sep-95  127 min         Crime, Drama, Mystery
19          PG  07-Jan-47  130 min        Drama, Family, Fantasy
20           R  14-Feb-91  118 min        Crime, Drama, Thriller
21           R  15-Sep-95  106 min         Crime, Drama, Mystery
22           R  18-Nov-94  110 min        Crime, Drama, Thriller
23           R  24-Jul-98  169 min                    Drama, War
24           G  07-Mar-31   87 min        Comedy, Drama, Romance
25       PG-13  07-Nov-14  169 min      Adventure, Drama, Sci-Fi
26           R  20-Nov-98  119 min                  Crime, Drama
27           G  25-Feb-36   87 min         Comedy, Drama, Family
28          PG  23-Jan-43  102 min           Drama, Romance, War
29           R  10-Dec-99  189 min         Crime, Drama, Fantasy
..         ...        ...      ...                           ...
220   APPROVED  06-Sep-46  101 min     Drama, Film-Noir, Romance
221  NOT RATED  21-Dec-50  104 min        Comedy, Drama, Fantasy
222      PG-13  02-Oct-15  144 min      Adventure, Drama, Sci-Fi
223          R  26-Dec-73  122 min                        Horror
224  NOT RATED  04-Apr-59  141 min        Action, Drama, Western
225  NOT RATED  17-Jan-41  112 min               Comedy, Romance
226   APPROVED  25-Sep-48   80 min        Crime, Drama, Thriller
227   APPROVED  31-Aug-46  114 min     Crime, Film-Noir, Mystery
228          R  17-Sep-82   95 min     Animation, Drama, Fantasy
229          R  25-Dec-10  118 min              Biography, Drama
230         PG  18-Nov-83   94 min                Comedy, Family
231   APPROVED  22-Dec-67  106 min                 Comedy, Drama
232          R  20-Dec-91  189 min      Drama, History, Thriller
233          R  14-Mar-97  135 min                         Drama
234          R  08-Dec-06  143 min    Adventure, Drama, Thriller
235          R  07-Jan-00  188 min                         Drama
236          R  16-Dec-88  133 min                         Drama
237          R  08-Jan-16  156 min    Adventure, Drama, Thriller
238         PG  29-Oct-93   76 min    Animation, Family, Fantasy
239      PG-13  24-Oct-62  126 min               Drama, Thriller
240          R  12-Feb-16  108 min     Action, Adventure, Comedy
241          R  07-Aug-69  135 min    Action, Adventure, Western
242          G  25-Nov-92   90 min  Animation, Adventure, Comedy
243      PG-13  09-Jan-04  125 min     Adventure, Drama, Fantasy
244         GP  02-Apr-70  172 min         Biography, Drama, War
245  NOT RATED  01-Jan-46  101 min              Drama, Film-Noir
246          R  23-Aug-13   96 min                         Drama
247   APPROVED  18-Jan-40   92 min        Comedy, Drama, Romance
248          G  03-Nov-99  112 min              Biography, Drama
249          R  25-Dec-08  120 min                         Drama

                            Director  \
0                     frank darabont
1               francis ford coppola
2               francis ford coppola
3                  christopher nolan
4                       sidney lumet
5                   steven spielberg
6                      peter jackson
7                  quentin tarantino
8                      david fincher
9                      peter jackson
10                   robert zemeckis
11                    irvin kershner
12                 christopher nolan
13                     peter jackson
14                      milos forman
15                   martin scorsese
16   lana wachowski, lilly wachowski
17                      george lucas
18                     david fincher
19                       frank capra
20                    jonathan demme
21                      bryan singer
22                        luc besson
23                  steven spielberg
24                   charles chaplin
25                 christopher nolan
26                         tony kaye
27                   charles chaplin
28                    michael curtiz
29                    frank darabont
..                               ...
220                 alfred hitchcock
221                     henry koster
222                     ridley scott
223                 william friedkin
224                     howard hawks
225                     george cukor
226                 alfred hitchcock
227                     howard hawks
228                      alan parker
229                       tom hooper
230                        bob clark
231                     mike nichols
232                     oliver stone
233               billy bob thornton
234                     edward zwick
235             paul thomas anderson
236                   barry levinson
237      alejandro gonzález iñárritu
238                     henry selick
239               john frankenheimer
240                       tim miller
241                    sam peckinpah
242        ron clements, john musker
243                       tim burton
244            franklin j. schaffner
245                     billy wilder
246            destin daniel cretton
247                     howard hawks
248                      david lynch
249     danny boyle, loveleen tandan

                                                Writer  \
0    Stephen King (short story "Rita Hayworth and S...
1    Mario Puzo (screenplay), Francis Ford Coppola ...
2    Francis Ford Coppola (screenplay), Mario Puzo ...
3    Jonathan Nolan (screenplay), Christopher Nolan...
4    Reginald Rose (story), Reginald Rose (screenplay)
5    Thomas Keneally (book), Steven Zaillian (scree...
6    J.R.R. Tolkien (novel), Fran Walsh (screenplay...
7    Quentin Tarantino (stories), Roger Avary (stor...
8       Chuck Palahniuk (novel), Jim Uhls (screenplay)
9    J.R.R. Tolkien (novel), Fran Walsh (screenplay...
10       Winston Groom (novel), Eric Roth (screenplay)
11   Leigh Brackett (screenplay), Lawrence Kasdan (...
12                                   Christopher Nolan
13   J.R.R. Tolkien (novel), Fran Walsh (screenplay...
14   Lawrence Hauben (screenplay), Bo Goldman (scre...
15   Nicholas Pileggi (book), Nicholas Pileggi (scr...
16                     Lilly Wachowski, Lana Wachowski
17                                        George Lucas
18                                 Andrew Kevin Walker
19   Frances Goodrich (screenplay), Albert Hackett ...
20       Thomas Harris (novel), Ted Tally (screenplay)
21                               Christopher McQuarrie
22                                          Luc Besson
23                                        Robert Rodat
24                                     Charles Chaplin
25                   Jonathan Nolan, Christopher Nolan
26                                       David McKenna
27                                     Charles Chaplin
28   Julius J. Epstein (screenplay), Philip G. Epst...
29   Stephen King (novel), Frank Darabont (screenplay)
..                                                 ...
220                                          Ben Hecht
221  Mary Chase (from the Pulitzer Prize Play by), ...
222  Drew Goddard (screenplay), Andy Weir (based on...
223  William Peter Blatty (written for the screen b...
224  Jules Furthman (screenplay), Leigh Brackett (s...
225  Donald Ogden Stewart (screen play), Philip Bar...
226  Hume Cronyn (adapted by), Patrick Hamilton (fr...
227  William Faulkner (screen play), Leigh Brackett...
228  Roger Waters (album "The Wall"), Roger Waters ...
229                         David Seidler (screenplay)
230  Jean Shepherd (based on the novel "In God We T...
231  Calder Willingham (screenplay), Buck Henry (sc...
232  Oliver Stone (screenplay), Zachary Sklar (scre...
233  Billy Bob Thornton (play), Billy Bob Thornton ...
234  Charles Leavitt (screenplay), Charles Leavitt ...
235                               Paul Thomas Anderson
236  Barry Morrow (story), Ronald Bass (screenplay)...
237  Mark L. Smith (screenplay), Alejandro González...
238  Tim Burton (based on: a story and characters b...
239  Richard Condon (based upon a novel by), George...
240                          Rhett Reese, Paul Wernick
241  Walon Green (screenplay), Sam Peckinpah (scree...
242  Ron Clements (screenplay), John Musker (screen...
243   Daniel Wallace (novel), John August (screenplay)
244  Francis Ford Coppola (screen story and screenp...
245  Charles R. Jackson (from the novel by), Charle...
246                              Destin Daniel Cretton
247  Charles Lederer (screen play), Ben Hecht (from...
248                           John Roach, Mary Sweeney
249   Simon Beaufoy (screenplay), Vikas Swarup (novel)

                                                Actors  ... tomatoConsensus  \
0    tim robbins, morgan freeman, bob gunton, willi...  ...             NaN
1    marlon brando, al pacino, james caan, richard ...  ...             NaN
2    al pacino, robert duvall, diane keaton, robert...  ...             NaN
3    christian bale, heath ledger, aaron eckhart, m...  ...             NaN
4    martin balsam, john fiedler, lee j. cobb, e.g....  ...             NaN
5    liam neeson, ben kingsley, ralph fiennes, caro...  ...             NaN
6     noel appleby, ali astin, sean astin, david aston  ...             NaN
7    tim roth, amanda plummer, laura lovelace, john...  ...             NaN
8    edward norton, brad pitt, meat loaf, zach grenier  ...             NaN
9    alan howard, noel appleby, sean astin, sala baker  ...             NaN
10   tom hanks, rebecca williams, sally field, mich...  ...             NaN
11   mark hamill, harrison ford, carrie fisher, bil...  ...             NaN
12   leonardo dicaprio, joseph gordon-levitt, ellen...  ...             NaN
13   bruce allpress, sean astin, john bach, sala baker  ...             NaN
14   michael berryman, peter brocco, dean r. brooks...  ...             NaN
15   robert de niro, ray liotta, joe pesci, lorrain...  ...             NaN
16   keanu reeves, laurence fishburne, carrie-anne ...  ...             NaN
17   mark hamill, harrison ford, carrie fisher, pet...  ...             NaN
18   morgan freeman, andrew kevin walker, kevin spa...  ...             NaN
19   james stewart, donna reed, lionel barrymore, t...  ...             NaN
20   jodie foster, lawrence a. bonney, kasi lemmons...  ...             NaN
21   stephen baldwin, gabriel byrne, benicio del to...  ...             NaN
22   jean reno, gary oldman, natalie portman, danny...  ...             NaN
23   tom hanks, tom sizemore, edward burns, barry p...  ...             NaN
24   virginia cherrill, florence lee, harry myers, ...  ...             NaN
25   ellen burstyn, matthew mcconaughey, mackenzie ...  ...             NaN
26   edward norton, edward furlong, beverly d'angel...  ...             NaN
27   charles chaplin, paulette goddard, henry bergm...  ...             NaN
28   humphrey bogart, ingrid bergman, paul henreid,...  ...             NaN
29   tom hanks, david morse, michael clarke duncan,...  ...             NaN
..                                                 ...  ...             ...
220  cary grant, ingrid bergman, claude rains, loui...  ...             NaN
221  wallace ford, william h. lynn, victoria horne,...  ...             NaN
222  matt damon, jessica chastain, kristen wiig, je...  ...             NaN
223  ellen burstyn, max von sydow, lee j. cobb, kit...  ...             NaN
224  john wayne, dean martin, ricky nelson, angie d...  ...             NaN
225  cary grant, katharine hepburn, james stewart, ...  ...             NaN
226  john dall, farley granger, edith evanson, doug...  ...             NaN
227  humphrey bogart, lauren bacall, john ridgely, ...  ...             NaN
228  bob geldof, christine hargreaves, james lauren...  ...             NaN
229  colin firth, helena bonham carter, derek jacob...  ...             NaN
230  melinda dillon, darren mcgavin, peter billings...  ...             NaN
231  anne bancroft, dustin hoffman, katharine ross,...  ...             NaN
232  sally kirkland, anthony ramirez, ray lepere, s...  ...             NaN
233  billy bob thornton, dwight yoakam, j.t. walsh,...  ...             NaN
234  leonardo dicaprio, djimon hounsou, jennifer co...  ...             NaN
235  pat healy, genevieve zweig, mark flanagan, nei...  ...             NaN
236  dustin hoffman, tom cruise, valeria golino, ge...  ...             NaN
237  leonardo dicaprio, tom hardy, domhnall gleeson...  ...             NaN
238  danny elfman, chris sarandon, catherine o'hara...  ...             NaN
239  frank sinatra, laurence harvey, janet leigh, a...  ...             NaN
240  ryan reynolds, karan soni, ed skrein, michael ...  ...             NaN
241  william holden, ernest borgnine, robert ryan, ...  ...             NaN
242  scott weinger, robin williams, linda larkin, j...  ...             NaN
243  ewan mcgregor, albert finney, billy crudup, je...  ...             NaN
244  george c. scott, karl malden, stephen young, m...  ...             NaN
245  ray milland, jane wyman, phillip terry, howard...  ...             NaN
246  brie larson, john gallagher jr., stephanie bea...  ...             NaN
247  cary grant, rosalind russell, ralph bellamy, g...  ...             NaN
248  sissy spacek, jane galloway heitz, joseph a. c...  ...             NaN
249  dev patel, saurabh shukla, anil kapoor, raj zu...  ...             NaN

    tomatoUserMeter tomatoUserRating tomatoUserReviews  \
0               NaN              NaN               NaN
1               NaN              NaN               NaN
2               NaN              NaN               NaN
3               NaN              NaN               NaN
4               NaN              NaN               NaN
5               NaN              NaN               NaN
6               NaN              NaN               NaN
7               NaN              NaN               NaN
8               NaN              NaN               NaN
9               NaN              NaN               NaN
10              NaN              NaN               NaN
11              NaN              NaN               NaN
12              NaN              NaN               NaN
13              NaN              NaN               NaN
14              NaN              NaN               NaN
15              NaN              NaN               NaN

# Check
#data.itterrow 해서 각 인덱스별 값들을 나누고, r각각의 행에 있는 Actors 와 DIrector의 값을 가공. 소문자로 변환뒤 한단어로 쭉 붙임

#Genre 는 소문자로 변환뒤에 리스트로 만들어줌. , 를 기준으로 띄어서

In [172]:
# for idx,row in data.iterrows():
#     t=[]
#     row["Actors"]=[t.join(x) for x in row["Actors"]]
#     row["Director"]="".join(row["Director"])

In [170]:
for i in range(len(data['Actors'])):
    actors_len = len(data['Actors'][i])
    for j in range(actors_len):
        data['Actors'][i][j] = data['Actors'][i][j].replace(' ', '')

In [ ]:
for i in range(len(data['Director'])):
    t=[]
    data['Director'][i] = t.append(data['Director'][i])

C:\Users\Affinity\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data["Actors","Director","Genre"]

In [137]:
data["Genre"]=data["Genre"].map(lambda x:x.lower().split(","))

# Check
#줄거리 plot에서 키워드 추출

In [139]:
data["Key_words"]=""

for idx, row in data.iterrows():
    plot=row["Plot"]
    r=Rake()
    r.extract_keywords_from_text(plot)
    key_words_dict_scores=r.get_word_degrees()
    row["Key_words"]=list(key_words_dict_scores.keys())

In [140]:
data['Bag of words']=""
columns=data.columns

for idx,row in data.iterrows():
    words=""
    
    for col in columns:
        if col!="Director":
            words=words + " ".join(row[col])+ " "
        else:
            words=words+row[col]+ " "
    row["Bag of words"]=words

TypeError: can only join an iterable

In [142]:
data.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response,Key_words,Bag of words
0,1,The Shawshank Redemption,1994,R,14-Oct-94,142 min,"[crime, drama]","[frank, darabont]","Stephen King (short story ""Rita Hayworth and S...","[tim robbins, morgan freeman, bob gunton]",...,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27-Jan-98,NaN,Columbia Pictures,NaN,True,,
1,2,The Godfather,1972,R,24-Mar-72,175 min,"[crime, drama]","[francis, ford, coppola]","Mario Puzo (screenplay), Francis Ford Coppola ...","[marlon brando, al pacino, james caan]",...,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09-Oct-01,NaN,Paramount Pictures,http://www.thegodfather.com,True,,
2,3,The Godfather: Part II,1974,R,20-Dec-74,202 min,"[crime, drama]","[francis, ford, coppola]","Francis Ford Coppola (screenplay), Mario Puzo ...","[al pacino, robert duvall, diane keaton]",...,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24-May-05,NaN,Paramount Pictures,http://www.thegodfather.com/,True,,
3,4,The Dark Knight,2008,PG-13,18-Jul-08,152 min,"[action, crime, drama]","[christopher, nolan]","Jonathan Nolan (screenplay), Christopher Nolan...","[christian bale, heath ledger, aaron eckhart]",...,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09-Dec-08,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True,,
4,5,12 Angry Men,1957,APPROVED,01-Apr-57,96 min,"[crime, drama]","[sidney, lumet]","Reginald Rose (story), Reginald Rose (screenplay)","[martin balsam, john fiedler, lee j. cobb]",...,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06-Mar-01,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True,,